<div class="children">
<ul>
	<li class="page_item">
		<a href="/main/about_us/">О НАС</a>
	</li>
	<li class="page_item">
		<a href="/main/history/">ИСТОРИЯ</a>
	</li>
	<li class="page_item">
		<a href="/main/clients/">КЛИЕНТЫ</a>
	</li>
	<li class="page_item">
		<a href="/main/contacts/">КОНТАКТЫ</a>
	</li>
</ul>
</div>
 <div>
 	<h3>Здравствуйте! Большое Вам спасибо, что нашли время зайти к нам в гости. Мы постараемся сделать Ваш визит полезным и приятным для Вас.</h3>

<h3>Кто мы?</h3>

<img src="/include/images/all_us5.jpg" width="480px">

<p>Мы команда из профессиональных консультантов, тренеров, менеджеров, программистов и дизайнеров, специализирующиеся на создании инструментов для повышения эффективности малого и среднего бизнеса в торговле.</p>

 

<b>Для кого мы работаем?</b>

<p>Мы работаем для тех, кто развиваться, ориентируясь на рынок. Кто ставит своей главной целью повышение клиентского сервиса. Кто активно инвестирует в развитие персонала и ценит своих клиентов.</p>

<p>Мы не работаем с теми, кто считает, что все можно продать и купить через откаты. Кто верит, что долгосрочный бизнес можно строить с коррумпированными чиновниками. Кто строит финансовые пирамиды и использует персонал как одноразовые перчатки.  Но мы работаем, с теми, кто готов измениться в лучшую сторону.</p>

 

<b>Наша миссия и ценности</b>

<p>Мы увеличиваем продажи наших клиентов! Только мы предлагаем комплекс услуг по разработке плана развития компании, обучению сотрудников и автоматизации бизнес процессов под ключ.</p>

<p>+ Мы каждый день собираем опыт мировых и локальных лидеров по системной интеграции</p>

<p>+ Мы гибко интегрируем свои решения с имеющимися возможностями у клиента</p>

<p>+ Наше предложение никогда не будет дороже чем экономический эффект от наших решений</p>

<p>+ Мы берем оплату только за реальный результат, который принимает клиент</p>

<p>+ Мы не требуем подробных технических заданий от клиентов, а сами ищем проблемы и активно предлагаем решения</p>

 

<b>Что мы делаем?</b>

<p>Вариантов увеличения объёмов продаж много. Но главными всё равно остаются клиенты. Поэтому принцип клиентоориентированности сохраняется вне зависимости от отрасли и специфики бизнеса.</p>

<p>Первое, что мы делаем – ищем возможности для повышения технологического уровня и минимизации затрат клиента. Разрабатываем стратегию и активно внедряем её в компанию.</p>

<p>Второе – обучаем персонал работе в новых для них условиях. Создаем новые управленческие навыки и тренируем персонал по уникальным авторским программам.</p>

<p>Третье – интегрируем весь программный и машинный парк в единое целое с разработкой и внедрением всех дополнительных программ, например – интернет магазин, внутренний портал, система по управлению продажами класса CRM и очень много другого.</p>

 

<b>Как давно мы работаем?</b>

<p>Мы работаем с 2007 года. Более подробную информацию вы можете получить на странице «История».</p>
 </div>