<div class="children">
<ul>
	<li class="page_item">
		<a href="/main/about_us/">О НАС</a>
	</li>
	<li class="page_item">
		<a href="/main/history/">ИСТОРИЯ</a>
	</li>
	<li class="page_item">
		<a href="/main/clients/">КЛИЕНТЫ</a>
	</li>
	<li class="page_item">
		<a href="/main/contacts/">КОНТАКТЫ</a>
	</li>
</ul>
</div>

<div>

<p>«Любое обучение полезно для всех уровней персонала. Человек всегда должен стремиться к самосовершенствованию и развитию новых навыков. Поэтому, получив предложение по обучению персонала от тренингового центра «Хорошая практика» , мы согласились. Продавцы магазинов «Канцлер» в течение месяца прошли тренинг по продажам. Большим плюсом было то, что обучались сотрудники на своей территории. Это было год назад, но сотрудники до сих пор помнят все, чему научились, а администратор всегда держит наготове конспекты с тех лекций Евгения Милославского.</p>

<p>Евгению удалось вложить в головы наших продавцов нужную информацию, которая работает во благо до сих пор. Он всегда приводил очень живые и реальные примеры, всегда легко убеждал, что именно так поступать в этой ситуации правильно. И его метод «4 нет» навсегда запомнился и успешно применяется нашими сотрудниками.</p>

<p>После обучения персонала я сама прошла тренинг для управляющих бизнесом от «Хорошей практики». Это очень подбадривает. Интересно посмотреть на коллег по бизнесу, увидеть себя со стороны.</p>

<p>У нашей компании запланировано открытие еще одного магазина, и, конечно же, совершенствование на всех уровнях. Хочется, чтобы каждый сотрудник был активен и заинтересован в своем развитии.</p>

<p>«Хорошей практике» хочется пожелать развиваться и дальше, выходить на новый уровень. Их услуги действительно необходимы тем компаниям, которым важен рост качества продаж, уровень знаний персонала и топ-менеджмента.»</p>

<p class="red_p">Ольга Куликова<br>
региональный директор сети магазинов «Канцлер»<br>
8 (8352) 582-930<br>
E-mail: cheb2@kanclers.ru</p>

<p>«Наше сотрудничество с тренинговым центром «Хорошая практика» продолжается с 2010 года. На протяжении этого срока тренеры и эксперты «Хорошей практики» помогают нам строить систему продаж и увеличивать личные продажи каждого нашего торгового специалиста.</p>

<p>Благодаря основному принципу работы тренеров «Хорошей практики» — решать проблему клиента, мы сумели решить массу заторов и сложностей в наших продажах.</p>

<p>Отдельную благодарность хочу выразить нашему тренеру — Евгению Милославскому. Его энергетика, и огромное желание развивать наши продажи, являются непрерывным источником вдохновения для развития нашего бизнеса.»</p>

<p>Большое спасибо, что Вы с нами.</p>

<p class="red_p">Елена Геннадьевна Илларионова<br>
директор ООО «Лето»<br>
(8352) 62-62-55, 38-55-88<br>
E-mail: tpaleto21@yandex.ru<br>
Сайт: www.tpaleto.ru </p>

<p>«Наша фирма занимается производством пластиковых окон. С «Хорошей практикой» сотрудничаем около полугода. Сначала я прошел обучение для руководителей, сейчас же работаем на консалтинге. Познакомился с работой этого тренингового центра случайно. Они приехали продать тренинг другой компании, а в итоге продали его мне. На улице, буквально за 5 минут.</p>

<p>Евгений Милославский тренер с собственным видением всего. До нашего с ним знакомства в компании не было четкой структуры, отлаженных бизнес-процессов. Его занятия восполнили пробелы в теоритических знаниях. Я посещаю тренинги 3 раза в неделю, узнаю что-то новое, пытаюсь внедрять на нашем предприятии.</p>

<p>Благодаря этому могу с уверенностью сказать, что все наши сотрудники имеют четкие задачи и цели и получают моральное удовлетворение от работы. В будущем есть планы развивать несколько направлений: существующий бренд и новый. О новом говорить пока рано, он на стадии разработки.»</p>

<p class="red_p">Сергей Николаевич Филиппов<br>
заместитель директора компании «Комфорт Строй»<br>
E-mail:sergey@comfortbuild.ru<br>
8 (8352) 631-710</p>

<p>«На рынке недвижимости я работаю с 2006 года. А с 2010 занялась самостоятельной деятельностью, организовав свое агентство недвижимости. С тренинговым центром «Хорошая практика» наша история сотрудничества начинается примерно с того же времени, как начало функционировать агентство. И за это время тренер Евгений Милославский стал не просто человеком, к которому мы ходим на занятия, но и полноценным другом и советником нашей компании.</p>

<p>Евгений – тренер, который говорит правду. Кто-то к такому готов, кто-то – нет. Но благодаря этому на его тренингах каждый получает свое направление работы. Именно он посоветовал нам разработать и открыть сайт компании. Мы не просто получаем какие-то новые знания, работая с Евгением, мы чувствуем себя под опекой, он всегда поможет советом, подскажет, как действовать. Я прошла у него курс для руководителей, а мои сотрудники обучаются по системе продаж.</p>

<p>За время работы с «Хорошей практикой» мы добились хороших результатов – наладили принципы рабочих процессов, выстроили работу с клиентами. За прошедший год мы вышли на 2 место среди городских агентств недвижимости. Сотрудничаем с ОАО «Сбербанк России». И этого большого прорыва в работе мы добились не без помощи советов и наставлений от «Хорошей практики». В будущем планируем укреплять свои позиции, развиваться в масштабах – хочется открыть несколько новых офисов в Чебоксарах и Новочебоксарске.»</p>

<p class="red_p">Татьяна Вячеславовна Укина<br>
директор агентства недвижимости «СФЕРА-РИЭЛТИ»<br>
8 (8352) 226 229</p>

<p>«Наша компания начинает свою историю с 1995 года. Тогда мы начали заниматься производством запчастей для бульдозеров. Со временем стали расширяться, появились новые услуги и направления. С развитием пришла пора задуматься об открытии полноценного отдела профессиональныхпродажников. Появились новые кадры и новая задача- обучить их теории. Для этого в мае 2012 года обратились в «Хорошую практику». В итоге получили штат продавцов, которые понимают систему продаж, имеют необходимые теоретические знания.</p>

<p>Спасибо Евгению Милославскому, нашему тренеру, конечно же, за информацию, которую получили наши сотрудники. Его способность донести любые знания и факты до абсолютно разных людей- это то, что всегда ценится в бизнес-тренере.</p>

<p>В будущем по планам нашей компании обучение топ-менеджмента. А показателем того, как сработают новые знания станет увеличение финансовых показателей, к которому стремится каждое предприятие.»</p>

<p class="red_p">Виталий Владимирович Лысов<br>
генеральный директор ОАО «Магма»<br>
8 (8352) 36-23-19<br>
E-mail: dir@magma21.ru</p>

<p>«С тренинг-центром «Хорошая практика» мы познакомились осенью прошлого года. Тогда же началось сотрудничество – наши специалисты, работающие с продавцами, администраторы и руководители стали посещать обучение. На занятия ходили три месяца, и это была основательная встряска всего, что ранее было в головах у сотрудников. Как будто тот багаж знаний, что был у каждого, распаковали и заново собрали. Как чемодан. Добавив, нужные для путешествия по успешным продажам предметы: знания, навыки, термины.</p>

<p>У тренера Евгения Милославского, который с нами занимался, очень своеобразная манера преподавания. Он нашел правильный подход к нашим сотрудникам, объясняя все на реальных, живых и понятных примерах. Определенная терминология, которая доступна для понимания не каждому, была преподнесена им именно под тем ракурсом и теми доступными словами, которые понятны всем.</p>

<p>Благодаря обучению в центре «Хорошая практика» мы сделали большой шаг на пути к поставленным целям и успешным сделкам – у нас появились книги сценариев продаж, основные правила и принципы общения с клиентами, нормы поведения работников на местах. И из этих немаловажных элементов начали вытекать хорошие и продуктивные последствия: улучшилась дисциплина, появилась структура и порядок мыслей и действий менеджеров, повысился профессионализм.</p>

<p>Если говорить о планах на будущее, то они, конечно же, грандиозные! Хочется, чтобы все поставленные цели и планы были реализованы.Компания «Сотовик-С» не останавливается на достигнутом, мы планируем развиваться далее, делая ставки на качество обслуживания наших специалистов. Цель компании: удовлетворенный клиент по всем аспектам предлагаемых услуг.»</p>

<p class="red_p">Екатерина Иванова<br>
руководитель отдела продаж ООО «Сотовик-С»<br>
8 (8352)41-21-05<br>
E-mail: ekaterina_sotovik-s@mail.ru</p>
</div>