<div class="children">
<ul>
	<li class="page_item">
		<a href="/main/consulting/">КОНСАЛТИНГ</a>
	</li>
	<li class="page_item">
		<a href="/main/couching/">КОУЧИНГ</a>
	</li>
	<li class="page_item">
		<a href="/main/trening/">ТРЕНИНГИ</a>
	</li>
</ul>
</div>
<div>
	     

<h3>Комплексная программа по увеличению продаж
для предпринимателей и руководителей компаний.</h3>

<h3 align="center" class="red_h">100% гарантия!!!
Благодаря нашим технологиям Вы в первый месяц
увеличите продажи на 30%,
во второй месяц на 80%,
на третий месяц Вы будете продавать уже в разы больше!
Или мы вернем Вам все Ваши деньги!</h3>

 

<b>Вам крайне необходим наш консалтинг если:</b>

<p>+ Вы постоянно ощущаете нехватку денежных средств.</p>

<p>+ У Вас проблемы с кадрами. Толковых людей нет, а остальные просто тратят Ваши деньги.</p>

<p>+ Вы все делаете сами. Если остановится, то бизнес рушится и денежный поток останавливается, а деньги нужны и приходится крутиться как белка в колесе.</p>

<p>+ Вы хотите отдыхать, полноценно посвятить себя семье и друзьям, но мысли о работе не дают покоя, косячные сотрудники не выходят из головы.</p>

<p>+ Вы все делаете за своих сотрудников, при этом они получают зарплату, а Вы работаете за них, вместо того чтобы посвятить себя более важным стратегическим задачам.</p>

<p>+ Вы не знаете, как уйти от налогов, не применяете белых схем по оптимизации налогообложения.</p>

<p>+ Вы хотите быть спокойны и управлять стабильным бизнесом и не боятся трудных времен.</p>

<p>+ Вы не знаете, как увеличить продажи при помощи реорганизации структуры и оптимизации процессов.</p>

<p>+ Вам нужны деньги на личные цели. Вы уже давно заслужили право на достойное вознаграждение.</p>

<p>+ Вы хотите реализовать свою мечту (построить просторный дом, купить престижную машину, путешествовать и др.), но это требует денег.</p>

<p>+ А может, Вы просто хотите порадовать вторую половину, принеся домой денег в 4 раза больше чем обычно.</p>

 

<b>Что Вы получите, купив консалтинг?</b>

<p>+ Вы в первый месяц увеличите продажи на 30%, во второй месяц на 80%, на третий месяц Вы будете продавать уже в разы больше!</p>

<p>+ Вы получите комплексное развитие бизнеса во всех направлениях.</p>

<p>+ У Вас появятся дополнительные деньги для развития.</p>

<p>+ Вы пройдете обучение по уникальным методикам у лучших тренеров и экспертов России и мира.</p>

<p>+ Вы систематизируете свой бизнес.</p>

<p>+ Вы выйдете ИЗ бизнеса, и встанете НАД бизнесом.</p>

<p>+ Вы получите персонального консультанта- наставника, который поможет Вам внедрить все знанию в Вашу практику.</p>

<p>+ Вы будете развиваться вместе с Вашим бизнесом. Узнали, попробовали, внедрили, увеличили продажи.</p>

<p>+ Вы колоссально сэкономите время и деньги по сравнению с нудным обучением в ультра консервативных «пробуржуйских» бизнес-школах с сомнительным эффектом.</p>

<p>+ Вы получите максимум эффекта, и ни какой воды, а если это будет не так, то мы вернем Вам все Ваши деньги!</p>

 

<b>Как будем увеличивать продажи?</b><br><br>

<img src="/include/images/miloslavskiy.png" align="left">
<b>Евгений Милославский
Бизнес-консультант</b>

<p>Специализация: Консультации по увеличению продаж для предпринимателей и руководителей компаний.</p>

<p>Опыт в цифрах:<br>
12 лет работы в продажах<br>
8 лет работы бизнес-консультантом<br>
8 лет работы руководителем</p>


<p>Тел.: +7 (919) 676-50-53</p>

<p>E-mail: <a href="mailto:evgeniy@goodpractice.ru">evgeniy@goodpractice.ru</a></p>

<p>«Мы предлагаем не только рекомендации и ”рецепты” правильной работы, но и сами активно участвуем в реализации заявленных целей.</p>

<p>Другими словами мы будем работать вместе с Вами в реальном времени у Вас в офисе и внедрять изменения, которые увеличат Ваши продажи.» </p>

 

<b>Надежная гарантия!</b>

<p>Если совместная работа покажется Вам бесполезной, бессмысленной и неинтересной для Вас — мы вернем Вам Ваши деньги. Вам не нужно будет что-либо объяснять, доказывать — Вы можете просто сказать об этом, и вопрос будет незамедлительно решен.</p>

<p>Здесь нет никакого подвоха или тайного умысла. Мы действительно считаем, что не вправе требовать от Вас гонорара, если наша работа была недостаточно качественной для Вас.</p>

<p>Мы работаем по такой схеме уже 5 лет. Именно такая гарантия обеспечивает нашим клиентам 100% результат и полную уверенность в качестве нашей работы.</p>

 

<b>Сколько стоит?</b>

<p>Стоимость услуги зависит от сроков и объемов работ. Стартовая стоимость сотрудничества рассчитывается исходя из результатов диагностики.</p>

 

<b>Диагностика Вашего бизнеса</b>

<p>У Вас есть уникальный шанс! Мы готовы взять только 8 компаний в месяц!</p>

<p>Вы можете, совершено БЕСПЛАТНО, получить советы и рекомендации по развитию Вашего бизнеса!</p>

 

<b>Важно! У нас есть определенные критерии, кто может пройти диагностику:</b>

<p>+ Ваш бизнес относится к категории малого или среднего бизнеса.</p>

<p>+ Вы лично являетесь владельцем либо руководителем компании и способны быстро принимать решения. Сегодня решили, сегодня сделали — без длительных согласований.</p>

<p>+ Ежемесячная прибыль компании превышает 100 000 рублей.</p>

<p>+ Вы имеете хотя бы 2-х человек в команде, которые будут помогать Вам в проекте по увеличению продаж.</p>

<h3 class="red_h">Если вы проходите по 3 критериям из 4
- мы готовы с вами работать.
Чтобы попасть в число счастливчиков — оставьте свои
данные в форме ниже
и ждите от нас письмо с подробностями.</h3>
</div>