<div class="children">
<ul>
	<li class="page_item">
		<a href="/main/about_us/">О НАС</a>
	</li>
	<li class="page_item">
		<a href="/main/history/">ИСТОРИЯ</a>
	</li>
	<li class="page_item">
		<a href="/main/clients/">КЛИЕНТЫ</a>
	</li>
	<li class="page_item">
		<a href="/main/contacts/">КОНТАКТЫ</a>
	</li>
</ul>
</div>

<div>
<b>	Наш офис находится по адресу:</b>

<p>428018, г. Чебоксары, ул. Академика Крылова, д. 5, офис 24</p>

 

<b>Единый телефон и корпоративная почта:</b>

<p>+7 (8352) 29-42-24<br>

<a href="mailto:info@goodpractice.ru">info@goodpractice.ru</a></p>

 

<b>График работы:</b>

<p>Ежедневно с 9:00 до 18:00, суббота, воскресенье выходной</p>

 

<b>Наш офис на карте:</b>


<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=SwxfP2pADSeBMSyYjowhx_NxTYQqTrR4&width=480&height=450"></script>


<p><b>Евгений Милославский</b></p>
<img src="/include/images/miloslavskiy2.jpg">
<p>Бизнес-консультант<br>
тел.: +7 (919) 676-50-53</p>




<p><b>Молчанова Светлана</b></p>
<img src="/include/images/svetka.jpg">
<p>Менеджер по продажам<br>
тел.: +7 (919) 652-06-87</p>

</div>