<div class="children">
<ul>
	<li class="page_item">
		<a href="/main/about_us/">О НАС</a>
	</li>
	<li class="page_item">
		<a href="/main/history/">ИСТОРИЯ</a>
	</li>
	<li class="page_item">
		<a href="/main/clients/">КЛИЕНТЫ</a>
	</li>
	<li class="page_item">
		<a href="/main/contacts/">КОНТАКТЫ</a>
	</li>
</ul>
</div>

<div>
	
<p>Наша компания появилась на свет сравнительно недавно. Все грандиозные достижения еще впереди, но мы решили начать записывать историю. Чтобы не было мучительно больно вспоминать, чем мы платили за светлое будущее.</p>

<b>2007. Начало</b>

<p>Вечером 12 ноября основателю компании «Хорошая практика» Евгению Милославскому пришла в голову идея — создать бизнес. Ключевая бизнес идея была в том, что учиться предпринимателям нужно не для диплома, а для практики. Если студент считает, что идеи и инструменты от обучения полезны для его бизнеса, то он платит деньги. Если нет, то надо учиться самим преподавателям.</p>

<p>Так появилась название — «Хорошая практика», миссия — «В основу образовательной деятельности ставить только реальное достижение результата для студентов, которое можно измерить деньгами» и гарантии — «Брать деньги только после результата».</p>

<b>2008. Кризис</b>

<p>Начинать наукоёмкий startup в кризис в неподготовленной среде — это дефицитный бюджет и постоянные мысли о поиске рынка. Как оказалось, рынка светлым идеям не нашлось. Голодными не были, но удовлетворения от такой практики мы не нашли.</p>

2009. Про движение

<p>Движение началось в сторону продвижения. Рекламный консалтинг — консультации по рекламе, PR, брендингу. Вот уж чего не ждали! Рынок оправляясь, падая и вновь оправляясь от кризиса, готов был платить за рекламу. Но прежние траты с миллионным бюджетом в никуда, уже мало кто мог себе позволить. И консультации по оптимизации рекламных бюджетов пришлись вполне в пору. Не скажу, что густо, но вкусно.</p>

<b>2010. Взлёт</b>

<p>Наверное это самый интересный год. В основном благодаря новому тренеру — Александру Чернову. Став партнёром, пусть на не большой срок, он смог внести огромный вклад в развитие «Хорошей практики». Лето аномальной жары в 2010 году запомнилось теплыми посиделками по формулированию стратегий развития.</p>

<p>Саша настоял на том, что основной акцент в деловом образовании надо делать на изменении модели поведения студента, а не трансляции знаний, пусть и полезных. Многое из того, что было придумано тем летом, реализуется до сих пор и будет реализовываться. Например, тренинг «4М продажи» или «Целедостижение».</p>

<b>2011. Коучинг</b>

<p>Этот год изменил курс развития компании от делового образования в сторону психокоррекции. Мы проанализировали потребности наших клиентов и обнаружили, что менее 5 % предпринимателей способны учиться и успешно работать. Они учатся на результат и охотно инвестируют в будущее. Рынок в нашем представлении и так был не большой, а после исследований, сузился до количества пальцев на руках всех наших сотрудников.</p>

<p>Нашли выход — предложить оставшимся 95% стать лучше, изменив себя. Получили сертификацию в Российской Академии Наук и начали улучшать мир коучинговыми сессиями по повышению личной эффективности. Мы сами многому научились за это время и осознали, что это не «Хорошая практика». Задавать наводящие вопросы и вдумчиво смотреть в глаза клиенту — это слишком медленный путь к развитию в наших реалиях.</p>

<b>2012. Консалтинг</b>

<p>Мы нашли себя. Давать четкие, структурированные стратегии и притворять их в жизнь — это «Хорошая практика». Также мы нашли много замечательных друзей. Теперь мы относимся к клиентам как к друзьям и переживаем их проблемы как свои собственные. Нам не нужно много клиентов, весь год мы работали на пределе физических возможностей, серьёзно не занимаясь поиском новых клиентов. Мы полностью сконцентрировались на качестве предлагаемых услуг своим постоянным клиентам. И как показала история все постоянные клиенты плавно перешли в следующий год.</p>

<p>«Хорошая практика» ушла с рынка краткосрочных тренингов. Мы пошли в сторону долгосрочного сотрудничества на постоянной основе, с малым количеством компаний, которые охотно внедряют новые бизнес-модели, желают развиваться и инвестировать в своё будущее.</p>

<b>2013. В облаках</b>

<p>В этом году мы «улетим в облака». На нашем сайте появится система дистанционного обучения, сервисы по психодиагностике для сотрудников корпоративных клиентов. Мы собираем серьёзный штат программистов для разработки пакетов программ класса CRM и Projectmanagement. А также у нас масса идей по автоматизации бизнесов наших любимых клиентов с применением облачных технологий. Надеюсь и Вы, наш дорогой читатель, найдете себя в нашей «облачной» истории этого года. До встречи в облаках )))</p>
</div>