<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<noscript>
	<meta http-equiv="refresh" content="0; URL=http://www.google.ru/search?q=как+включить+javascript+в+браузере"> 
</noscript>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="SHORTCUT ICON" href="/include/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/include/styles/style.css" type="text/css" media="screen"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	

	<script type="text/javascript" src="//vk.com/js/api/openapi.js?97"></script>
	<script type="text/javascript">
	  VK.init({apiId: 3773459, onlyWidgets: true});
	</script>

	<title>Хорошая практика | Увеличим ваши продажи!</title>
</head>
<body>