</body>
<!--<script type = "text/javascript" src ="/include/js/jqueryrotate.2.1.js"></script>
	<script type = "text/javascript" src ="/include/js/core.min.js"></script>
	<script type = "text/javascript" src ="/include/js/raphael-min.js"></script>-->
	<script type = "text/javascript" src ="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
	<script type = "text/javascript" src ="/include/js/jquery.js"></script>
	
</html>