<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>

<title></title>
</head>
<body>
	<div class="entreg">
		<div class="entreg_img">
			<div class="logo"></div>
			<div class="telka"></div>
		</div>
		<div class="entreg_form">
			<div>
				<h3>Узнай, как увеличить продажи в 4 раза!</h3>
				На сайте Вы узнаете не менее 100 способов по увеличению продаж.<br>
				Чтобы получить доступ, зарегистрируйтесь!
			</div>
			<div>
				<h3>Регистрация</h3>
				<form action="enter.php" id="enter">
					<input type="text" name="reg_name" id="reg_name" placeholder="Ваше имя" class="reg_data">
					<input type="text" name="reg_email" id="reg_email" placeholder="Ваш e-mail" class="reg_data">
					<input type="text" name="reg_phone" id="reg_phone" placeholder="Ваш телефон" class="reg_data">
					<input type="submit" id="get_access" class="entreg_submit"value="Получить доступ!">
				</form>
			</div>
			<div class="poplink"><a href="popupmenu_enter.html">Вход для зарегистрированных пользователей&rarr;</a></div>
		</div>
	</div>
</body>
</html>